main {
  text-align: center; 
}

#Vid {
  max-width: 100%; 
  /* width: 1000px; */
  height: auto; 
}

.custom-vidcontrols {
  text-align: center; 
  margin-top: 20px; 
}

.custom-vidcontrols button {
  margin: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
}
